@page "/"
@namespace WebBlog.Pages
@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funky Si's Tech Talk</title>
    <base href="~/" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="css/crayons.css" rel="stylesheet" />
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script>
        (function () {
            window.DisqusFunctions = {
                createDisqus: function (disqusThreadElement, disqusSrc) {
                    var dsq = document.createElement('script');
                    dsq.type = 'text/javascript';
                    dsq.async = true;
                    dsq.src = disqusSrc;
                    dsq.disqus_container_id = 'disqus_thread';
                    disqusThreadElement.appendChild(dsq);
                },
                resetDisqus: function (newIdentifier, newUrl, newTitle) {
                    try {
                        DISQUS.reset({
                            reload: true,
                            config: function () {
                                this.page.identifier = newIdentifier;
                                this.page.url = newUrl;
                                this.page.title = newTitle;
                            }
                        });
                    }
                    catch (err) {
                        // do nothing
                    }
                }
            };
        })();
    </script>
</body>
</html>