@page "/lazy"
@using System.Globalization
@using WebBlog.Data
@using WebBlog.Shared
@inject BlogService BlogService

@if (blogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Tag></Tag>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <Virtualize Items="@blogs" Context="post">
                <ItemContent>
                    <tr>
                        <td>@post.Published_At.ToString("dd/MM/yyyy", CultureInfo.CurrentCulture)</td>
                        <td><a href="/posts/@post.Slug">@post.Title</a></td>
                        <td>@post.Description</td>
                    </tr>
                </ItemContent>
                <Placeholder>
                    <tr>
                        <td>Loading&hellip;</td>
                        <td>Loading&hellip;</td>
                        <td>Loading&hellip;</td>
                    </tr>
                </Placeholder>
            </Virtualize>
        </tbody>
    </table>
}

@code {
    private List<BlogPosts> blogs;

    protected override async Task OnInitializedAsync()
    {
        blogs = await BlogService.GetBlogsAsync();
    }
}