@page "/posts/{slug}"

@using WebBlog.Data
@inject BlogService BlogService
@inject DisqusState DisqusState
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

@if (blogs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>@thisblog.Title</h2>

    @((MarkupString)thisblog.Body_Html)

    <div id="disqus_thread"></div>
}

@code {
    private List<BlogPosts> blogs;
    private int thisid;
    private BlogPosts thisblog;
    [Parameter]
    public string Slug { get; set; }

    protected override async Task OnInitializedAsync()
    {
        blogs = await BlogService.GetBlogsAsync();

        thisid = blogs.Where(x => x.Slug == Slug).FirstOrDefault().Id;
        thisblog = await BlogService.GetBlogPostAsync(thisid);
        string url = NavigationManager.ToAbsoluteUri($"posts/{Slug}").AbsoluteUri;

        try
        {
            await DisqusInterop.ResetDisqus(
                JSRuntime,
                thisblog.Slug,
                url,
                thisblog.Title);

            DisqusState.SetDisplayDisqus(true);
        }
        catch { }
    }
}