@page "/metrics/chart/{type:int}"
@inject BlogService BlogService
@inject MetricService MetricService
@inject IJSRuntime JS


@if (chart != null && chart.Any())
{
    <h2>Chart of @title</h2>
    <Line Labels="@label" Data="@data" Title="@title"></Line>

}

@code {
    private IList<ChartView> chart;
    private string title;
    private List<string> label = new List<string>();
    private List<decimal> data = new List<decimal>();

    [Parameter]
    public int type { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task Load()
    {
        chart = await MetricService.GetChart(type);
        foreach (var item in chart.OrderBy(x => x.Date))
        {
            if (item.Total.HasValue)
            {
                label.Add(item.Date);
                data.Add(item.Total.Value);
            }
        }
        switch (type)
        {
            case 0:
                title = "Twitter Followers";
                break;
            case 1:
                title = "Twitter Following";
                break;
            case 2:
                title = "Number Of Tweets";
                break;
            case 3:
                title = "Twitter Favourites";
                break;
            case 4:
                title = "GitHub Followers";
                break;
            case 5:
                title = "GitHub Following";
                break;
            case 6:
                title = "GitHub Repo";
                break;
            case 7:
                title = "GitHub Stars";
                break;
            case 8:
                title = "GitHub Commits";
                break;
            case 9:
                title = "DevTo Posts";
                break;
            case 10:
                title = "DevTo Published Posts";
                break;
            case 11:
                title = "DevTo Views";
                break;
            case 12:
                title = "DevTo Reactions";
                break;
            case 13:
                title = "DevTo Comments";
                break;
            default:
                title = "Unknown";
                break;
        }
    }
}