@page "/metrics"
@using WebBlog.Data
@inject BlogService BlogService
@inject WebBlog.AppVersionInfo appInfo

<h2>Metrics</h2>

<p>A page of metrics about me from various services.</p>

<div class="post-content">
    <table width="100%">
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post views
            </td>
            <td>
                @views
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post reactions
            </td>
            <td>
                @reactions
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Total post comments
            </td>
            <td>
                @comments
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-dev" aria-hidden="true"></span> Published Posts / Total Posts
            </td>
            <td>
                @pubposts / @posts
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Followers
            </td>
            <td>
                @followers
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number Following
            </td>
            <td>
                @following
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Favourites
            </td>
            <td>
                @fav
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-twitter" aria-hidden="true"></span> Number of Tweets
            </td>
            <td>
                @numtweets
            </td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number Following
            </td>
            <td>
                @ghfollowing
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Followers
            </td>
            <td>
                @ghfollowers
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Repos
            </td>
            <td>
                @ghrepo
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Stars
            </td>
            <td>
                @ghstars
            </td>
        </tr>
        <tr>
            <td>
                <span class="fab fa-github" aria-hidden="true"></span> Number of Commits
            </td>
            <td>
                @commits
            </td>
        </tr>
    </table>
</div>

@code {
    private int followers;
    private int following;
    private int numtweets;
    private int ghfollowers;
    private int ghfollowing;
    private int ghrepo;
    private int ghstars;
    private int commits;
    private int fav;
    private int views;
    private int reactions;
    private int comments;
    private int pubposts;
    private int posts;

    private List<BlogPosts> blogs;

    protected override async Task OnInitializedAsync()
    {
        blogs = await BlogService.GetBlogsAsync();
        posts = blogs.Count;
        pubposts = blogs.Where(x => x.Published).Count();
        foreach (var item in blogs)
        {
            views += item.Page_Views_Count;
            reactions += item.Positive_Reactions_Count;
            comments += item.Comments_Count;
        }
        followers = await BlogService.GetTwitterFollowers();
        following = await BlogService.GetTwitterFollowing();
        numtweets = await BlogService.GetNumberOfTweets();
        ghfollowers = await BlogService.GetGitHubFollowers();
        ghfollowing = await BlogService.GetGitHubFollowing();
        ghrepo = await BlogService.GetGitHubRepo();
        ghstars = await BlogService.GetGitHubStars();
        fav = await BlogService.GetTwitterFav();
        commits = await BlogService.GetCommits();
    }
}