@page "/{Year:int}/{Month}/{Day}/{Title}/"
@page "/{Year:int}/{Month}/{Day}/"
@page "/{Year:int}/{Month}/"
@page "/{Year:int}/"
@inherits RedirectBase

@if (blogs == null)
{
    <p><em>Loading...</em></p>
}
