<h1>Simon Foster</h1>
<h4 class="site-description">"Software Developer based in the North of England, creator of Pwned Pass a mobile app based on the haveibeenpwned data. More than just another developer."</h4>

@code {

}