<div>
    <img src="/wp-content/uploads/2014/09/1922276.jpg" style="float: left; padding-right: 15px; height: 150px" />
</div>
<div style="min-height:150px">
    <h4 class="site-description">"Software Developer based in the North of England, creator of Pwned Pass a mobile app based on the haveibeenpwned data. More than just another developer."</h4>
</div>
<hr />